
@import url("https://fonts.googleapis.com/css?family=Jura:400,400i,700,700i");
.button {
  fill:#888888;
  stroke:#000000;
  stroke-width:1;
  opacity: 0.25;
  font-family: "Jura";
  font-size: 16;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

#top_level{
  margin-left: 2vw;
}

.dataTable{
    display: flex;
    justify-content: space-between;
    width: 90vw;
    flex-wrap: wrap;
}

.buttonRow{
  display: flex;
  justify-content: space-between;
  width: 50vw;
  flex-wrap: wrap;
}

button{

}

.metric{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 20vh;
}

.tableTextElement{
    display: flex;
    justify-content: center;
}


#exceptionsContainer{
  display: none;
  
  
}

#exceptions{
    display: flex;
    justify-content: flex-start;
    width: 40vw;
    height: 30vh;
    border: 2px solid #999999;
    
}



.button:hover {
  fill:#cccccc;
}
.button:active {
  fill:#bbbbbb;
  stroke-width:2;
}

.button_toggle {
  stroke:#000000;
  stroke-width:1;
  font-family: "Jura";
  font-size: 16;
  width: 8vw;
}

.label{
    font-family: "Jura";
    font-weight: 700;
    font-size: 20px;
    stroke:#999999;
    border-bottom: 3px solid #999999; 
}


