
@import url("https://fonts.googleapis.com/css?family=Jura:400,400i,700,700i");
.button {
  fill:#888888;
  stroke:#000000;
  stroke-width:1;
  opacity: 0.25;
  font-family: "Jura";
  font-size: 16;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

#top_level{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
}

.dataTable{
    display: flex;
    justify-content: space-between;
    width: 90vw;
    flex-wrap: wrap;
}

.buttonRow{
  display: flex;
  justify-content: space-between;
  width: 50vw;
  flex-wrap: wrap;
}

button{

}

.metric{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 20vh;
}

.tableTextElement{
    display: flex;
    justify-content: center;
}


#exceptionsContainer{
  display: none;
  
  
}

#exceptions{
    display: flex;
    justify-content: flex-start;
    width: 40vw;
    height: 30vh;
    border: 2px solid #999999;
    
}



.button:hover {
  fill:#cccccc;
}
.button:active {
  fill:#bbbbbb;
  stroke-width:2;
}

.button_toggle {
  stroke:#000000;
  stroke-width:1;
  font-family: "Jura";
  font-size: 16;
  width: 8vw;
}


.label{
    font-family: "Jura";
    font-weight: 700;
    font-size: 20px;
    stroke:#999999;
    border-bottom: 3px solid #999999; 
}



.metricValue {

  animation: fadeIn linear 2s;
  -webkit-animation: fadeIn linear 2s;
  -moz-animation: fadeIn linear 2s;
  -o-animation: fadeIn linear 2s;
  -ms-animation: fadeIn linear 2s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}


.dangerValue {
  background-color: red;
}

.healthyValue {
  background-color: green;
}



#alert-container {
  z-index: 1;
}
#alert-container .alert-msg {
  background: #fff;
  border: 1px solid #ddd;
  top: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  left: 25px;
  padding: 15px;
  position: absolute;
  z-index: -100px;
}
#alert-container .alert-msg:before {
  color: #60c354;
  content: "\f06a";
  font-family: "Font Awesome 5 Free";
  font-size: 1.5em;
  font-weight: 600;
  margin-right: 10px;
  vertical-align: sub;
}
.slide-in {
  animation-name: slideIn;
  animation-duration: 0.8s;
}
@keyframes slideIn {
  from {
    transform: translateX(-400px);
 }
  to {
    transform: translateX(0);
 }
}
.slide-out {
  animation-name: slideOut;
  animation-duration: 0.8s;
}
@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
 }
  to {
    transform: translateY(80px);
    opacity: 0;
 }
}