[Unit]
Description=thirtybirds service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=thirtybirds
ExecStart=/usr/bin/env python3 /home/thirtybirds/pinball/main.py

[Install]
WantedBy=multi-user.target
